*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  -webkit-font-smoothing: antialiased;
  font-family: var(--league-spartan);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

li {
  list-style-type: none;
}

#root,
#__next {
  isolation: isolate;
}

:root {
  --white: hsl(0, 100%, 100%);
  --grey-500: hsl(0, 0%, 63%);
  --grey-800: hsl(0, 0%, 27%);
  --black: hsl(0, 0%, 0%);
}

.container {
  width: min(100%, 23.4375rem);
  margin-inline: auto;
}
@media (min-width: 56.25em) {
  .container {
    width: min(100%, 90rem);
  }
}

@font-face {
  font-family: "League Spartan";
  src: url("../assets/fonts/LeagueSpartan-VariableFont_wght.ttf") format("truetype");
  font-weight: 500 700;
  font-style: normal;
  font-display: swap;
}
:root {
  --league-spartan: "League Spartan", sans-serif;
}

.header {
  position: relative;
  z-index: 999;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.5rem 1.5rem;
  position: absolute;
  width: 100%;
}
@media (min-width: 56.25em) {
  .nav {
    width: auto;
    left: 2.5rem;
    padding: 1.5rem;
  }
}
.nav__logo {
  margin-right: auto;
}
@media (min-width: 56.25em) {
  .nav__logo {
    margin-right: 1.5rem;
  }
}
.nav__btn {
  margin-right: auto;
}
@media (min-width: 56.25em) {
  .nav__btn {
    display: none;
  }
}
.nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
  padding: 1rem;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-130%);
  transition: transform ease-out 300ms;
}
@media (min-width: 56.25em) {
  .nav__list {
    width: auto;
    background-color: transparent;
    position: static;
    transform: translateY(0);
  }
}
.nav__list--active {
  transform: translateY(0);
  transition: transform 300ms ease-in;
}
.nav__item {
  padding: 1.5rem 0.625rem;
  text-transform: lowercase;
}
@media (min-width: 56.25em) {
  .nav__item {
    background-color: transparent;
    padding: 1.5rem 1rem;
  }
}
@media (min-width: 56.25em) {
  .nav__item:first-child {
    display: none;
  }
}
.nav__link {
  color: var(--black);
}
@media (min-width: 56.25em) {
  .nav__link {
    color: var(--white);
  }
}
.nav__close {
  width: 1.25rem;
}
@media (min-width: 56.25em) {
  .nav__close {
    display: none;
  }
}

.btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.carousel {
  position: relative;
}
@media (min-width: 56.25em) {
  .carousel {
    display: grid;
    grid-template-columns: 2fr 500px;
  }
}
.carousel__buttons {
  position: absolute;
  bottom: 50%;
  right: 0;
  transform: translateY(-50%);
  background-color: var(--black);
}
@media (min-width: 56.25em) {
  .carousel__buttons {
    bottom: 0;
    right: 30%;
    transform: translate(-5%, 0%);
  }
}
.carousel__btn {
  padding: 1rem 1.25rem;
}
@media (min-width: 56.25em) {
  .carousel__btn {
    padding: 1.75rem 2rem;
  }
}
.carousel__btn:hover {
  background-color: var(--grey-800);
}
.carousel__content {
  padding: 3.75rem 1.4375rem;
}
@media (min-width: 56.25em) {
  .carousel__content {
    padding: 0;
    margin: auto 0;
  }
}
.carousel__content.animate {
  animation: slide-in 1000ms ease-in-out;
}
.carousel__img.animate {
  animation: fade-in 1000ms ease-in-out;
}
@keyframes fade-in {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
@keyframes slide-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.carousel__title {
  padding: 0rem 0.75rem;
  font-size: 2.3125rem;
  font-weight: 500;
  line-height: 1;
}
@media (min-width: 56.25em) {
  .carousel__title {
    word-spacing: -0.5rem;
    letter-spacing: -1px;
    line-height: 1;
    padding: 0;
    font-size: 3rem;
  }
}
.carousel__about {
  font-size: 1rem;
  line-height: 1.37;
  margin-top: 1rem;
}
@media (min-width: 56.25em) {
  .carousel__about {
    padding-right: 4.25rem;
    padding-bottom: 0.625rem;
  }
}
.carousel__cta {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0.625rem;
  margin-top: 1.75rem;
  text-transform: uppercase;
  letter-spacing: 0.75rem;
  font-size: 1rem;
}
@media (min-width: 56.25em) {
  .carousel__cta {
    padding: 1rem 0;
    margin-top: 0rem;
    margin-bottom: 1.25rem;
  }
}
.carousel__cta img {
  margin-left: 1.125rem;
}

@media (min-width: 56.25em) {
  .abouts {
    display: grid;
    grid-template-columns: 1fr 500px 1fr;
    grid-template-rows: auto;
  }
}

.about {
  margin-bottom: 1.25rem;
}
.about__title {
  padding: 3rem 1.875rem 0 1.875rem;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.3125rem;
}
@media (min-width: 56.25em) {
  .about__title {
    padding: 4.375rem 0rem 0 0rem;
    letter-spacing: 0.40625rem;
  }
}
.about__text {
  font-size: 0.9375rem;
  padding: 1.25rem 2.125rem;
  padding-left: 30;
  line-height: 1.45;
  color: var(--grey-500);
}
@media (min-width: 56.25em) {
  .about__text {
    padding: 1rem 0.75rem;
    padding-left: 0;
    font-size: 0.9375rem;
  }
}
.about__figure {
  margin-left: auto;
}/*# sourceMappingURL=style.css.map */