@font-face {
  font-family: "League Spartan";
  src: url("../assets/fonts/LeagueSpartan-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 500 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --league-spartan: "League Spartan", sans-serif;
}
