@use "../util/" as u;

.carousel {
  position: relative;

  @include u.breakpoint(desktop) {
    display: grid;
    grid-template-columns: 2fr max(500px);
  }

  &__buttons {
    position: absolute;
    bottom: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: var(--black);

    @include u.breakpoint(desktop) {
      bottom: 0;
      right: 30%;
      transform: translate(-5%, 0%);
    }
  }

  &__btn {
    padding: u.rem(16) u.rem(20);

    @include u.breakpoint(desktop) {
      padding: u.rem(28) u.rem(32);
    }
  }

  &__btn:hover {
    background-color: var(--grey-800);
  }

  &__content {
    padding: u.rem(60) u.rem(23);

    @include u.breakpoint(desktop) {
      padding: 0;
      margin: auto 0;
    }
  }

  &__content.animate {
    animation: slide-in 1000ms ease-in-out;
  }

  &__img.animate {
    animation: fade-in 1000ms ease-in-out;
  }

  @keyframes fade-in {
    from {
      opacity: 0.5;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes slide-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  &__title {
    padding: u.rem(0) u.rem(12);
    font-size: u.rem(37);
    font-size: clamp(
      u.rem(37),
      2.0790697674418603rem + 1.0232558139534884vw,
      u.rem(48)
    );
    font-weight: 500;
    line-height: 1;
    @include u.breakpoint(desktop) {
      word-spacing: u.rem(-8);
      letter-spacing: -1px;
      padding: 0;
    }
  }

  &__about {
    color: var(--grey-500);
    font-size: u.rem(16);
    line-height: 1.37;
    margin-top: u.rem(16);

    @include u.breakpoint(desktop) {
      padding-right: u.rem(68);
      padding-bottom: u.rem(10);
    }
  }

  &__cta {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: u.rem(16) u.rem(10);
    margin-top: u.rem(28);
    text-transform: uppercase;
    letter-spacing: u.rem(12);
    font-size: u.rem(16);

    @include u.breakpoint(desktop) {
      padding: u.rem(16) 0;
      margin-top: u.rem(0);
      margin-bottom: u.rem(20);
    }

    img {
      margin-left: u.rem(18);
    }
  }

  &__cta:hover {
    img {
      transform: translateX(10px);
      transition: transform 300ms ease-in;
    }
  }
}
