@use "../util/" as u;

.header {
  position: relative;
  z-index: 999;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: u.rem(40) u.rem(24);
  position: absolute;
  width: 100%;

  @include u.breakpoint(desktop) {
    width: auto;
    left: u.rem(40);
    padding: u.rem(24);
  }

  &__logo {
    margin-right: auto;

    @include u.breakpoint(desktop) {
      margin-right: u.rem(24);
    }
  }

  &__btn {
    margin-right: auto;
    @include u.breakpoint(desktop) {
      display: none;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);

    padding: u.rem(16);

    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-130%);
    transition: transform ease-out 300ms;

    @include u.breakpoint(desktop) {
      width: auto;
      background-color: transparent;
      position: static;
      transform: translateY(0);
    }
  }

  &__list--active {
    transform: translateY(0);
    transition: transform 300ms ease-in;
  }

  &__item {
    padding: u.rem(24) u.rem(10);
    text-transform: lowercase;
    @include u.breakpoint(desktop) {
      background-color: transparent;
      padding: u.rem(24) u.rem(16);
    }
  }

  &__item:first-child {
    @include u.breakpoint(desktop) {
      display: none;
    }
  }

  &__link {
    position: relative;
    color: var(--black);
    @include u.breakpoint(desktop) {
      color: var(--white);
    }
  }

  &__link::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: u.rem(-5);
    width: 0;
    height: u.rem(2);
    background: var(--white);
    transform: translateX(-50%);
    transition: width 0.3s ease;
  }

  &__link:hover::after,
  &__link:focus::after {
    width: 50%;
  }

  &__close {
    width: u.rem(20);
    @include u.breakpoint(desktop) {
      display: none;
    }
  }
}
